# Ignore embedded git repositories / dependencies
download_cache/
open_spiel/abseil-cpp/
open_spiel/games/bridge/double_dummy_solver/
open_spiel/pybind11_abseil/
pybind11/

build/
dist/
*.egg-info/
*.pyc
__pycache__/
*.so
*.dll
*.dylib
*.a
*.o
.cache/
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db
temp.sh
*.h5
open_spiel/games/mali_ba/models
open_spiel/games/amazons
open_spiel/games/backgammon
open_spiel/games/bargaining
open_spiel/games/battleship
open_spiel/games/blackjack
open_spiel/games/blotto
open_spiel/games/breakthrough
open_spiel/games/bridge
open_spiel/games/catch
open_spiel/games/checkers
open_spiel/games/chess
open_spiel/games/cliff_walking
open_spiel/games/clobber
open_spiel/games/coin_game
open_spiel/games/colored_trails
open_spiel/games/connect_four
open_spiel/games/coop_box_pushing
open_spiel/games/coordinated_mp
open_spiel/games/crazy_eights
open_spiel/games/cribbage
open_spiel/games/cursor_go
open_spiel/games/dark_chess
open_spiel/games/dark_hex
open_spiel/games/deep_sea
open_spiel/games/dots_and_boxes
open_spiel/games/dou_dizhu
open_spiel/games/dynamic_routing
open_spiel/games/efg_game
open_spiel/games/einstein_wurfelt_nicht
open_spiel/games/euchre
open_spiel/games/first_sealed_auction
open_spiel/games/gamut
open_spiel/games/gin_rummy
open_spiel/games/go
open_spiel/games/goofspiel
open_spiel/games/hanabi
open_spiel/games/havannah
open_spiel/games/hearts
open_spiel/games/hex
open_spiel/games/hive
open_spiel/games/kriegspiel
open_spiel/games/kuhn_poker
open_spiel/games/laser_tag
open_spiel/games/leduc_poker
open_spiel/games/lewis_signaling
open_spiel/games/liars_dice
open_spiel/games/maedn
open_spiel/games/mancala
open_spiel/games/markov_soccer
open_spiel/games/matching_pennies_3p
open_spiel/games/matrix_games
open_spiel/games/mfg
open_spiel/games/mnk
open_spiel/games/morpion_solitaire
open_spiel/games/negotiation
open_spiel/games/nfg_game
open_spiel/games/nim
open_spiel/games/nine_mens_morris
open_spiel/games/oh_hell
open_spiel/games/oshi_zumo
open_spiel/games/othello
open_spiel/games/oware
open_spiel/games/pathfinding
open_spiel/games/pentago
open_spiel/games/phantom_go
open_spiel/games/phantom_ttt
open_spiel/games/pig
open_spiel/games/quoridor
open_spiel/games/rbc
open_spiel/games/sheriff
open_spiel/games/skat
open_spiel/games/solitaire
open_spiel/games/spades
open_spiel/games/stones_and_gems
open_spiel/games/tarok
open_spiel/games/tic_tac_toe
open_spiel/games/tiny_bridge
open_spiel/games/tiny_hanabi
open_spiel/games/trade_comm
open_spiel/games/twenty_forty_eight
open_spiel/games/twixt
open_spiel/games/ultimate_tic_tac_toe
open_spiel/games/universal_poker
open_spiel/games/y
EOF
